/test_opengl_window/.vs
/test_opengl_window/packages/glm.1.0.1/build/native/doc
/test_opengl_window/test_ope.30e5a946/x64
/Solution1/.vs
/Solution1/software_renderer/x64
/Solution1/software_renderer/software.1eb9f2b4/x64
